<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    {% if session['is_logged'] %}
    <a class="navbar-brand" href="/">Wellcome ! {{ session['username'] }}</a>
    {% else %}
    <a class="navbar-brand" href="/">Team 6 Website</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/"> Main <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/topic"> Project_topic </a>
        </li>
      </ul>
      </div>
      <div>
        <ul class="navbar-nav">
          {% if 'is_logged' in session %}
        <li class="nav-item">
          <a class="nav-link" href="/monitor"> Monitor </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/anlysis"> Analysis_result </a>
          {% endif %}
        </li>
      </ul>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          {% if 'is_logged' in session %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">LogOut</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">LogIn</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
